{% trans_default_domain 'FOSUserBundle' %}
<div class="containerSecurity img-back">
    <div class="signup-content register">
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
        <h2 class="form-title register">Reset password</h2>
        <div class="form-group register">
    {{ form_widget(form) }}
        </div>
<div class="form-group register">

    <div>
    <input type="submit" class="form-submit register" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
</div>
{{ form_end(form) }}
    </div>
</div>